header
    div.headerRow
        div.column.left
            i.fab.fa-android.headerIcon
        div.column.middle 
            a.title(href=routeMap.Home) Welcome to #{pageTitle}
        div.column.right
            if !loginUser 
                a.anchorButton(href=routeMap.User+routeMap.Login) Login
                a.anchorButton(href=routeMap.User+routeMap.Join) Join
            else
                div(style={color:'brown'})
                    a.anchorButton(href=routeMap.User+routeMap.Logout) #{loginUser.name} Logout?
