extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다
  
block content
    
    form(action=routeMap.Board+routeMap.Write, method="post", enctype="multipart/form-data")
        label This is Write page
        input.board(type="text", name="title", placeholder="Title", required=true)
        textarea.board(name="content", cols="30", rows="10", placeholder="Content", required=true)
        div
            label 1 MB 이하의 파일, 5개까지 첨부 가능 - 
            //- 첨부 파일 기능을 테스트 하기 위한, 샘플 파일을 Browser에서 생성, 다운로드
            span.anchorButton(onclick="createSampleFile()", style={cursor:"pointer"}) 파일 준비 귀찮으면 Download Sample File 
            br
            //- 다중 첨부 가능을 위한, multiple 속성
            input.board(type="file", name="file", id="file", multiple="multiple")
        input.board(type="submit", value="Write")

    script(src="/static/jsBoardWrite.js")
