extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다
  
block content
    
    form(action=routeMap.Board+routeMap.Edit(oneBoard.id), method="post")
        label This is Edit page
        input.board(type="text", name="title", placeholder="Title", required=true, value=oneBoard.title)
        textarea.board(name="content", cols="30", rows="10", placeholder="Content", required=true) #{oneBoard.content}
        input.board(type="submit", value="Edit")