extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다
  
block content
    label This is Read page
    hr
    - var time = oneBoard.writeDate                                                             
    - var formatTime = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate() + " " + ('0'+time.getHours()).substr(-2) + ":" + ('0'+time.getMinutes()).substr(-2) + ":" + ('0'+time.getSeconds()).substr(-2)
    div.boardArea
        span
            label.boardLabel Writer
            span.boardHeader #{oneBoard.writer.name}
        span(style={float: 'right'})
            label.boardLabel Write Date
            span.boardHeader #{formatTime}
    div.boardArea
        label.boardLabel Title
        span.boardHeader #{oneBoard.title}
    //- User 로그인이 되어 있으면서, 로그인된 이메일과 글쓴이의 이메일이 같아야 버튼이 생성된다
    if( (loginUser) && loginUser.email == oneBoard.writer.email)
        a.Button(href=routeMap.Board+routeMap.Delete(oneBoard.id)) Delete
        a.Button(href=routeMap.Board+routeMap.Edit(oneBoard.id)) Edit
    div.boardArea
        label.boardLabel Content
        textarea.boardInside.boardContent(disabled) #{oneBoard.content}
        
    div
        label.boardLabel Attached Files
        div
            if (fileList.length>0)
                each oneFile in fileList
                    a(href=`${routeMap.Api}${routeMap.Download(oneFile.id)}`, target='_blank') #{oneFile.originalFileName}
                    br
            else
                |Files Not Attached for This Post
    br
    div
        label.boardLabel Comments - AXIOS를 사용한 AJAX 방식으로 구현 - (Login Required)
        
        if loginUser
            div(style={display:'block'})
                span
                    input.comment(type="text", id="comment" onkeydown="checkEnterKey(event)")
            span    
                //- submit 버튼이지만, form에 속하지 않기에, 사실 form이 전송되지는 않는다.
                input.commentButton(type="button", value="Confirm", style={width:'100%'}, onclick="requestWriteComment()")
        else
            div(style={display:'block'})
                span
                    input.comment(type="text", id="comment" onkeydown="checkEnterKey(event)" disabled)
            span    
                //- submit 버튼이지만, form에 속하지 않기에, 사실 form이 전송되지는 않는다.
                input.commentButton(type="button", value="Confirm", style={width:'100%'}, onclick="requestWriteComment()" disabled)

        div
            |Comment List
            ul#commentList


    //- Client 브라우저에서 axios와 js 파일 참조시키기
    script(src="/static/jsComment.js")
    script(src="https://unpkg.com/axios/dist/axios.min.js")