extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다
  
block content
    div
        h3
            li
                a(href=routeMap.Home style={color:'blue'}) 1. Home - Board 게시판 Example
            li
                a(href=routeMap.Map  style={color:'black'}) 2. Google Maps & Weather API Example
            li    
                a(href=routeMap.Translate  style={color:'black'}) 3. GCP Translation API Page
            li    
                a(href=routeMap.Intro  style={color:'black'}) 4. Project Intro ^_^
    h3 This is Home page

    if loginUser
        div
            a.Button(href=routeMap.Board+routeMap.Write, style={float: 'right'}) Write
        p 　
    
    table
        tr
            th.writer 글쓴이
            th.title 제목
            th.writeTime 시간
        if (boards)
            each oneBoard in boards
                //- WriteDate 포맷을 위해 pug 내에서 javascript 함수를 사용
                - var time = oneBoard.writeDate
                - var formatTime = time.getFullYear() + "-" + ("0" + (time.getMonth()+1)).substr(-2) + "-" + ("0" + time.getDate()).substr(-2) + " " + ('0'+time.getHours()).substr(-2) + ":" + ('0'+time.getMinutes()).substr(-2) + ":" + ('0'+time.getSeconds()).substr(-2)
                - if(oneBoard.title.length>40){
                    -oneBoard.titleSummary = oneBoard.title.substring(0, 40)+ '...'
                -} else {
                    -oneBoard.titleSummary = oneBoard.title
                -}
                tr
                    td #{oneBoard.writer.name}
                    td.title 
                        a.title(href=routeMap.Board+routeMap.Read(oneBoard.id), title=oneBoard.title) #{oneBoard.titleSummary}
                    td #{formatTime}
        else
            tr
                td X
                td.title No Posting To Show
                td X
                td X
            
    