extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다
  
block content
    div
        h3
            li
                a(href=routeMap.Home style={color:'black'}) 1. Home - Board 게시판 Example
            li
                a(href=routeMap.Map  style={color:'black'}) 2. Google Maps & Weather API Example
            li    
                a(href=routeMap.Translate  style={color:'black'}) 3. GCP Translation API Page
            li    
                a(href=routeMap.Intro  style={color:'blue'}) 4. Project Intro ^_^
    
    h3 This is Intro page


    h3 
        li 배포 환경시, 서버의 모든 구성이 Clould에 되어 있습니다.
        li 무료 환경만을 사용하다보니, Seoul Region이 아니라서 조금 느릴 수 있습니다.

    table
        tr
            th 배포 환경
            th 개발 환경
        tr
            td.intro 
                li AWS - EC2에 pm2를 사용한 환경 구성 및 배포
                li MongoDB Atals를 사용하여 Clould DB 환경 구성
                li RedisLab을 사용한 Clould Session 관리 환경 구성
                li AWS S3 Storage에 파일 Upload/Download/Delete 가능
            
            td.intro
                li 개발 중인 컴퓨터 localhost:1001에 배포
                li 로컬 MongoDB 사용하여 DB 관리
                li 로컬 MongoDB를 사용한 Session 관리
                li 로컬 uploads 폴더 내 파일 Upload/Download/Delete 가능
        tr
            th(colspan='2') 이런 기능이 있습니다
        tr
            td.intro(colspan='2')
                li Express 4.17에 기반한 Restful 서버 구현
                li 기본적인 게시판 및 코멘트 기능
                li multer를 사용한 파일 다중 첨부, 다운로드 기능
                li passport를 사용한 일반회원, 카카오, 네이버 인증 기능 
                li Google Maps API 를 사용한 지도 기능
                li OpenWeatherMap API 를 사용한 날씨 탐지 기능
                li GCP의 Google Translate API를 사용한 번역 기능
                li Winston을 사용한 로그 기록
                li AJAX 방식으로 구현한 여러가지 기능
                li Flash를 사용한 일회성 안내 메세지 구현
                