include mixins/flashMessage

doctype html
html
    //- head 와 header은 다르다, head는 body 태그의 부가정보를 담는다면, header는 상단의 view를 담당한다
    head
        //- link 사용법 https://aboooks.tistory.com/147
        <script src="https://kit.fontawesome.com/674c25b8a9.js"></script>        
        link(rel="stylesheet", href="/style.css") 

        title #{pageTitle}
    body(style={background: '#FFF7F6'})
        include ./partials/header
            
        hr

        //- 서버로부터 받을 메세지가 있다면 여기서 보여주자
        if (successMessage && successMessage.length!=0)
            +flashMessage('successMessage', successMessage)
        if (infoMessage && infoMessage.length!=0)
            +flashMessage('infoMessage', infoMessage)
        if (errorMessage && errorMessage.length!=0)
            +flashMessage('errorMessage', errorMessage)
        


        block content
        //- 다른 페이지에서 extends와 block을 사용하면, 이 페이지와 함께 나타난다 


        hr  
        include ./partials/footer