extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다
  
block content
    div
        h3
            li
                a(href=routeMap.Home style={color:'black'}) 1. Home - Board 게시판 Example
            li
                a(href=routeMap.Map  style={color:'blue'}) 2. Google Maps & Weather API Example
            li    
                a(href=routeMap.Translate  style={color:'black'}) 3. GCP Translation API Page
            li    
                a(href=routeMap.Intro  style={color:'black'}) 4. Project Intro ^_^

    h3 This is Map & Weather page 
    h3 - Google Maps API + Open Weather Map 사용 
    label 지도 기본 위치는 Client의 현재 위치, 특정 지역을 검색 가능 + 그 지역의 날씨를 표시합니다
        
    div
        input#address(type="text", value="", placeholder="Enter Area Name", onkeydown="checkEnterKey(event)")
        input(type="button", value="Click", onclick="setMapByAddress()")
    
    br
    div
        div#map(style={width:'100%', height:'500px'})
        h3 The Weather of This Area is
        h4#weather(style={margin:'10px'})
            

    script(async, defer, src="https://unpkg.com/axios/dist/axios.min.js")
    script(src="/static/jsGoogleMap.js")
    script(async, defer, src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA720oCUa-4PSErSJjt-K9elY1DcfCzpuU&callback=initMap")
    