/* app.js 파일에서 app.use(express.static('정적 파일 경로')) 설정 전까지 CSS 적용 안됨 */

.no-js {
  display: none;
}
a {
  text-decoration: none;
}
.title,
.title:visited,
.title:hover,
.title:active {
  color: black;
}
.anchorButton,
.anchorButton:visited,
.anchorButton:hover,
.anchorButton:active {
  color: deepskyblue;
  margin: 5px;
}

body {
  margin-left: 15%;
  margin-right: 15%;
  min-width: 1000px;
}

.headerIcon {
  color: rgb(93, 165, 22);
  font-size: 3em;
  position: absolute;
}
* {
  box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

.left {
  width: 10%;
}
.right {
  width: 20%;
  min-width: 150px;
  text-align: right;
  font-weight: bold;
  font-size: 25px;
}

.middle {
  width: 70%;
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

.headerRow:after {
  /* Clear floats after the columns */
  content: "";
  display: table;
  clear: both;
}

/*Join Page*/
input[type="text"].board,
input[type="email"].board,
input[type="password"].board,
select {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea.board {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input.board[type="submit"] {
  width: 50%;
  background-color: chocolate;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

input.board[type="submit"]:hover {
  background-color: orange;
}

div.container {
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.joinButton {
  text-align: center;
  display: block;
  width: 50%;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

/* 메인 화면의 글 목록 테이블 */
table,
tr,
th,
td {
  border: 1px solid yellowgreen;
  background: white;
}
table {
  width: 100%;
  padding: 1px;
}
th {
  background: beige;
}
th.writer {
  width: 150px;
}
th.writeTime {
  width: 200px;
}
th.attachment {
  width: 50px;
}
tr {
  text-align: center;
}
td.title {
  text-align: left;
  padding-left: 10px;
}

/* Board 글 읽기 영역에 쓰임 */
.boardLabel {
  font-weight: bold;
}
.boardArea {
  padding: 2px;
}
.boardInside {
  padding: 1px;
  font-size: 14pt;
  border: 3px solid #ccc;
  margin: 10px;
}
.boardContent {
  min-height: 250px;
  max-height: 400px;
  padding: 5px;
  text-indent: 5px;
}
textarea.boardContent {
  width: 100%;
  max-height: 450px;
  background-color: white;
}

.boardHeader {
  width: 50%;
  padding: 1px;
  font-size: 14pt;
  margin: 10px;
}

a.Button,
a.Button:visited,
a.Button:hover,
a.Button:active {
  padding: 8px 20px;
  margin: -12px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background: white;
  cursor: pointer;
  float: right;
  color: black;
}

/* Comment 영역 */
input.comment {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.translatedText {
  font-size: 18pt;
}

li.sampleMessage {
  cursor: pointer;
  color: green;
}

.flashBackground {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  background: white;
  border: 1px black solid;
}
.errorMessage {
  color: red;
}
.infoMessage {
  color: orange;
}
.successMessage {
  color: deepskyblue;
}

td.intro {
  padding: 15px;
  text-align: left;
  width: 50%;
}
