extends layout
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다

include ./mixins/translate
  
block content
    div
        h3
            li
                a(href=routeMap.Home style={color:'black'}) 1. Home - Board 게시판 Example
            li
                a(href=routeMap.Map  style={color:'black'}) 2. Google Maps & Weather API Example
            li    
                a(href=routeMap.Translate  style={color:'blue'}) 3. GCP Translation API Page
            li    
                a(href=routeMap.Intro  style={color:'black'}) 4. Project Intro ^_^
    
    h3 This is Translate page
    +translateArea("blue") 