extends layout 
//-layout.pug를 이어 받아서, 이 페이지가 로딩 될 때, layout 페이지 내에 들어가게 된다
//-layout 안의 'block mainArea' 안에 포함되게 된다 - 즉 extends, block이 함께 쓰인다

block content

    h3 passport / passport-kakao / passport-naver를 사용

    div.container
        form(action=routeMap.User+routeMap.Login, method="post")
            label Your Email Address?
            input.board(type="email", name="email", placeholder="Put Your Email Address.",required=true)
            label Your Password?
            input.board(type="password", name="password", placeholder="Put Your Password.",required=true)
            input.board(type="submit" value="Login")

        a.joinButton(href=routeMap.User+routeMap.Naver+routeMap.Auth, style={background:'#4caf50', color: 'white'})
            |  Login with Naver ?
        a.joinButton(href=routeMap.User+routeMap.Kakao+routeMap.Auth, style={background:'yellow'})    
            i.fab.fa-kickstarter-k
            |  Login with Kakao ?