//- 다른 pug에서 이 파일을 include 하고, +weatherArea와 변수를 넣어 호출하면, 동적으로 이 페이지를 호출 할 수 있다
mixin translateArea(color)
    h4(style={color: color}) This is Google Translate API Example
        |   - (무료 API가 아니라서, 40글자로 제한하겠습니다 ㅠ )

    label 번역 시험 할 메세지를 고르기 귀찮으실까봐 샘플을 준비했어요~
    ul
        li.sampleMessage(onclick="changeSampleMessage('kr')") Sample Korean Message
        li.sampleMessage(onclick="changeSampleMessage('jp')") Sample Japanese Message
        li.sampleMessage(onclick="changeSampleMessage('cn')") Sample Chinese Message

    label 다른 글들도 입력 가능합니다
    br
    input(type="text", maxlength=40, id="translateText", onkeydown="checkTranslateEnterKey(event)", value="김범준은 이 프로젝트에 많은 것을 해보려고 했습니다.", style={width:'400px'})
    input(type="button", value="Translate", onclick="sendTranslateRequest()")

    br
    br

    label Translated Text - 
    span.translatedText#translatedResult(style={color:color})

    br
    h4 번역 기능은 GCP 내 Google Translate API V2를 사용합니다. AJAX 방식으로 번역합니다

    //- Translate 예제를 위해 여기에 jQuery를 넣는 것은, 서비스 상에서는 비효율 적이지만, 다양한 것을 해보기 위해 넣음
    //- 이 프로젝트의 다른 AJAX 기능들은 axios로 구현
    script(src="http://code.jquery.com/jquery-1.10.2.js")
    script(src="/static/jsTranslate.js")